*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    background-image: url('https://ecroptoday.azureedge.net/ecroptoday/Leaf.webp');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
a{
    text-decoration: none!important;
}
.container{
    max-width: 1497px!important;
 padding:10px!important;
 background-color: #cccccc4d;

}
.outer-container{
    padding:50px 0 0;
}
@media (max-width:768px){
    .container{
        padding:20px!important;
        max-width: 95% !important;
    } 
}
@media(max-width:600px){
    .outer-container{
        padding:50px 0 0;
    }
}