.archives-container {
    padding: 20px;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th, .table td {
    border: 1px solid #000;
    padding: 8px;
    vertical-align: top;
  }
  
  .text-center {
    text-align: center;
  }
  
  .label-cell {
    font-weight: bold;
  }
  
  .responsive-table {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
  }
  .pagination {
    margin-top: 20px;
    text-align: center;
  }
  
  .pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    background-color: #f8f9fa;
    cursor: pointer;
  }
  
  .pagination button.active {
    background-color: green;
    color: white;
    border-color: green;
  }
  
  .pagination button:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }
  
  .pagination button:hover:not(:disabled) {
    background-color: #e2e6ea;
    color:green
  }
  
  @media (max-width: 768px) {
    .table thead, .table tbody, .table th, .table td, .table tr {
      display: block;
    }
    .archives-container table thead th:nth-child(1), .archives-container table thead th:nth-child(3), .archives-container table thead th:nth-child(4),.archives-container table thead th:nth-child(5) {
      display: none;
    }
    .archives-container table tbody td.sr:nth-child(1), .archives-container table tbody td.pg:nth-child(4) {
      display: none;
      background-color: red!important;
    }
    .table td {
      padding: 10px;
      position: relative;
      text-align: left;
    }
  
    .table td:before {
      content: attr(data-label);
      position: absolute;
      left: 0;
      width: 50%;
      padding-left: 15px;
      font-weight: bold;
    }
  
    .text-center {
      text-align: left;
    }
  
    .table td:nth-child(4) {
      text-align: right;
    }
  }

